.background{
    width: 100%;
    height: 100%;
    background-image:url("../../assets/01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(248, 248, 248);
    font-size: large;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    backdrop-filter: opacity(20%);
  }

  .background h1 {
    font-size: 5vw;
  }
  
  section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap: 10em;
    padding: 1em;
}

.wrapp-section{
    background-image: url('../../assets/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em 0;
}

.wrapp-section-dark{
    background-image: url('../../assets/fondo-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em 0;
}

.img-food{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrapp{
    width: 354px;
    height: 532px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/mexico-food.jpg");
}
.img-wrapp-Japonesa{
    width: 354px;
    height: 532px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/Japonesa.jpg");
}
.img-wrapp-Italiana{
    width: 354px;
    height: 532px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/Italiana.jpg");
}
.img-wrapp-Francesa{
    width: 354px;
    height: 532px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/Francesa.jpg");
}
.img-wrapp-Mexicana{
    width: 354px;
    height: 532px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/Mexicana.jpg");
}
.img-wrapp-Colombiana{
    width: 354px;
    height: 532px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/Colombiana.jpg");
}

.wrapp-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text-section { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20em;
    height: 532px;
    text-align: start;
    padding: 0em 0em 0em 0em;
    font-family:"Poppins", Helvetica, sans-serif;
    font-size: larger;
    color: #fefefe;
}

.text-section > div h2{
    font-size: calc(1.3rem + .9vw);
    font-weight: 600;  
    margin: 0;
    margin-bottom: 0.7em;
}

.text-section > div p{  
    margin: 7px 0px;
}

.text-section > p{
    font-size: 0.875rem;
    line-height: 1.7;
    font-family: "Poppins", Helvetica, sans-serif;
    color: #ffffff;
}

.wrapp-text-section > button {
    position: absolute;
    bottom: 5em;
    right: 0;
    width: fit-content;
    color: white;
    background-color: orangered ;
    border: 0;
    padding: 0.8em 1.3em;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapp-text-section > button:hover {
    background-color: orangered;
    color: black;
}
