<div class="background">
    <h1>CULTURAS GASTRONÓMICAS</h1>
</div>
<div class="wrapp-section">
    <section>
        <div class="img-food">
            <div class="img-wrapp-Colombiana"></div>
        </div>
        <div class="wrapp-text-section">
            <div class="text-section">
                <div>
                    <h2>Cultura Colombiana</h2>
                    <p>Colombia: Diversidad culinaria que fusiona influencias indígenas, africanas y europeas.</p>
                </div>
                <p>La comida colombiana es una muestra fascinante de la diversidad geográfica y cultural de este hermoso país sudamericano. Con una rica tradición culinaria que combina influencias indígenas, africanas y europeas, la comida colombiana es una explosión de sabores, colores y texturas.
                </p>
            </div>
            <button routerLink="/Colombiana">Ver más</button>
        </div>
    </section>
</div>

<div class="wrapp-section-dark">
    <section>
        <div class="wrapp-text-section">
            <div class="text-section">
                <div>
                    <h2>Cultura Japonesa</h2>
                    <p> Japón: Elegancia y precisión culinaria que conquistan el paladar global.</p>
                </div>
                <p>La comida japonesa es conocida por su elegancia, precisión y equilibrio de sabores. Es una de las cocinas más apreciadas y reconocidas en todo el mundo. La gastronomía japonesa se basa en ingredientes frescos y de alta calidad, así como en técnicas culinarias meticulosas que han sido perfeccionadas durante siglos.
                </p>
            </div>
            <button routerLink="/Japonesa">Ver más</button>
        </div>
        <div class="img-food">
            <div class="img-wrapp-Japonesa"></div>
        </div>
    </section>
</div>

<div class="wrapp-section">
    <section>
        <div class="img-food">
            <div class="img-wrapp-Italiana"></div>
        </div>
        <div class="wrapp-text-section">
            <div class="text-section">
                <div>
                    <h2>Cultura Italiana</h2>
                    <p>Italia: Tradición culinaria amada por su simplicidad y calidad única</p>
                </div>
                <p>La comida italiana es una de las cocinas más queridas y reconocidas en todo el mundo. Con una rica tradición culinaria que se remonta a siglos atrás, Italia ha dejado una huella indeleble en el mundo de la gastronomía. La comida italiana se caracteriza por su simplicidad, calidad de ingredientes y un profundo respeto por la tradición.
                </p>
            </div>
            <button routerLink="/Italiana">Ver más</button>
        </div>
    </section>
</div>

<div class="wrapp-section-dark">
    <section>
        <div class="wrapp-text-section">
            <div class="text-section">
                <div>
                    <h2>Cultura Francesa</h2>
                    <p>Francia: Sofisticación y elegancia que cautivan amantes de la comida.</p>
                </div>
                <p>La comida francesa es sinónimo de sofisticación, elegancia y refinamiento en el mundo de la gastronomía. Con una larga y venerable tradición culinaria, la cocina francesa ha influido en cocinas de todo el mundo y se ha ganado un lugar especial en el corazón de los amantes de la comida.
                </p>
            </div>
            <button routerLink="Francesa">Ver más</button>
        </div>
        <div class="img-food">
            <div class="img-wrapp-Francesa"></div>
        </div>
    </section>
</div>

<div class="wrapp-section">
    <section>
        <div class="img-food">
            <div class="img-wrapp-Mexicana"></div>
        </div>
        <div class="wrapp-text-section">
            <div class="text-section">
                <div>
                    <h2>Cultura Mexicana</h2>
                    <p>México: Vibrante sabor que celebra una rica herencia ancestral.</p>
                </div>
                <p>La comida mexicana es una de las cocinas más vibrantes, sabrosas y reconocidas en todo el mundo. Con una rica herencia que se remonta a civilizaciones antiguas como los aztecas y los mayas, la gastronomía mexicana es una fusión de tradición, sabor y diversidad.
                </p>
            </div>
            <button routerLink="/Mexicana">Ver más</button>
        </div>
    </section>
</div>