<div class="background">
    <h1>CULTURAS GASTRONÓMICAS</h1>
</div>
<div class="wrapp-section">
    <section>
        <div class="img-food">
            <div class="img-wrapp"></div>
        </div>
        <div class="wrapp-text-section">
            <div class="text-section">
                <div>
                    <h2>Cultura Colombiana</h2>
                    <p>Sabores auténticos que deleitan tus sentidos y paladar</p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium exercitationem explicabo facere necessitatibus sapiente quae voluptatem, aspernatur magni asperiores ullam neque culpa ex mollitia perspiciatis dolores atque cupiditate odit voluptate!</p>
            </div>
            <button routerLink="/Colombiana">Ver más</button>
        </div>
    </section>
</div>

<div class="wrapp-section-dark">
    <section>
        <div class="wrapp-text-section">
            <div class="text-section">
                <div>
                    <h2>Cultura Japonesa</h2>
                    <p>Sabores auténticos que deleitan tus sentidos y paladar</p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium exercitationem explicabo facere necessitatibus sapiente quae voluptatem, aspernatur magni asperiores ullam neque culpa ex mollitia perspiciatis dolores atque cupiditate odit voluptate!</p>
            </div>
            <button routerLink="/Japonesa">Ver más</button>
        </div>
        <div class="img-food">
            <div class="img-wrapp"></div>
        </div>
    </section>
</div>

<div class="wrapp-section">
    <section>
        <div class="img-food">
            <div class="img-wrapp"></div>
        </div>
        <div class="wrapp-text-section">
            <div class="text-section">
                <div>
                    <h2>Cultura Italiana</h2>
                    <p>Sabores auténticos que deleitan tus sentidos y paladar</p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium exercitationem explicabo facere necessitatibus sapiente quae voluptatem, aspernatur magni asperiores ullam neque culpa ex mollitia perspiciatis dolores atque cupiditate odit voluptate!</p>
            </div>
            <button routerLink="/Italiana">Ver más</button>
        </div>
    </section>
</div>

<div class="wrapp-section-dark">
    <section>
        <div class="wrapp-text-section">
            <div class="text-section">
                <div>
                    <h2>Cultura Francesa</h2>
                    <p>Sabores auténticos que deleitan tus sentidos y paladar</p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium exercitationem explicabo facere necessitatibus sapiente quae voluptatem, aspernatur magni asperiores ullam neque culpa ex mollitia perspiciatis dolores atque cupiditate odit voluptate!</p>
            </div>
            <button routerLink="Francesa">Ver más</button>
        </div>
        <div class="img-food">
            <div class="img-wrapp"></div>
        </div>
    </section>
</div>

<div class="wrapp-section">
    <section>
        <div class="img-food">
            <div class="img-wrapp"></div>
        </div>
        <div class="wrapp-text-section">
            <div class="text-section">
                <div>
                    <h2>Cultura Mexicana</h2>
                    <p>Sabores auténticos que deleitan tus sentidos y paladar</p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium exercitationem explicabo facere necessitatibus sapiente quae voluptatem, aspernatur magni asperiores ullam neque culpa ex mollitia perspiciatis dolores atque cupiditate odit voluptate!</p>
            </div>
            <button routerLink="/Mexicana">Ver más</button>
        </div>
    </section>
</div>