<div class="header">
    <div class="background">
    <header>
        <nav>
            <div class="logo">
                <a href=""><img src="logo.png" alt="Logo"></a>
            </div>
            <ul>
                <li><a href="#inicio">Cultura 1</a></li>
                <li><a href="#menu">Cultura 2</a></li>
                <li><a href="#reservas">Cultura 3</a></li>
                <li><a href="#contacto">Cultura 4</a></li>
                <li><a href="#contacto">Cultura 5</a></li>
            </ul>
        </nav>
    </header>

    </div>
</div>


