
<header>
    <nav>
        <div class="logo">
            <a routerLink="/"><img src="../../assets/cocinero.png" alt="Logo"></a>
        </div>
        <ul>
            <li><a routerLink="/Colombiana">Colombiana</a></li>
            <li><a routerLink="/Japonesa">Japonesa</a></li>
            <li><a routerLink="/Italiana">Italiana</a></li>
            <li><a routerLink="/Francesa">Francesa</a></li>
            <li><a routerLink="/Mexicana">Mexicana</a></li>
        </ul>
    </nav>
</header>

<div class="pagina">
    <router-outlet></router-outlet>
</div>


