/* Estilo para el encabezado */
header {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto en el encabezado */
    padding: 0px 0; /* Espaciado interior del encabezado (arriba/abajo, izquierda/derecha) */
  }
  
  /* Estilo para la barra de navegación */
  nav {
    display: flex; /* Mostrar elementos en línea */
    justify-content: space-between; /* Espacio entre los elementos en la barra de navegación */
    align-items: center; /* Centrar verticalmente los elementos */
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
    padding: 0 20px; /* Espaciado interior de la barra de navegación (izquierda/derecha) */
  }
  
  /* Estilo para el logotipo */
  .logo img {
    max-width: 100px; /* Ancho máximo para el logotipo */
  }
  
  /* Estilo para la lista de navegación */
  nav ul {
    list-style: none; /* Eliminar viñetas de la lista */
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline; /* Mostrar elementos en línea (uno al lado del otro) */
    margin-right: 20px; /* Espaciado entre elementos de la lista */
  }
  
  nav ul li:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último elemento de la lista */
  }
  
  nav a {
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    color: #fff; /* Color del texto de los enlaces */
    font-weight: bold; /* Establecer negrita en los enlaces */
    transition: color 0.3s; /* Transición suave del color del texto al pasar el ratón */
  }
  
  nav a:hover {
    color: #ff4500; /* Cambiar el color del texto al pasar el ratón */
  }
  