<div class="header">
    <div class="background">
    <header>
        <nav>
            <div class="logo">
                <a href=""><img src="../../assets/cocinero.png" alt="Logo"></a>
            </div>
            <ul>
                <li><a href="#cultura1">Cultura 1</a></li>
                <li><a href="#cultura2">Cultura 2</a></li>
                <li><a href="#cultura3">Cultura 3</a></li>
                <li><a href="#cultura4">Cultura 4</a></li>
                <li><a href="#cultura5">Cultura 5</a></li>
            </ul>
        </nav>
    </header>
    <h1>CULTURAS GASTRONÓMICAS</h1>
    </div>
</div>


