<section>
    <div class="img-food">
        <div class="img-wrapp"></div>
    </div>
    <div class="wrapp-text-section">
        <div class="text-section">
            <h1>Gastronomía Mexicana</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium exercitationem explicabo facere necessitatibus sapiente quae voluptatem, aspernatur magni asperiores ullam neque culpa ex mollitia perspiciatis dolores atque cupiditate odit voluptate!</p>
        </div>
    </div>
</section>
