<div class="background">
    <h1>GASTRONOMÍA ITALIANA</h1>
</div>
<section>
    <div class="description">
        <div>
            <h2>Cultura Italiana</h2>
            <p>Italia: Tradición culinaria amada por su simplicidad y calidad única</p>
        </div>
        <p>
            La comida italiana es una joya culinaria universalmente adorada y respetada. Su historia gastronómica se extiende hacia atrás en el tiempo, arraigándose en siglos de tradición y cultura. Italia ha dejado una huella indeleble en el mundo de la gastronomía, y su cocina es un homenaje constante a la belleza de la simplicidad, la calidad de los ingredientes y un profundo respeto por la tradición.
            
            Lo que distingue a la comida italiana es su enfoque en la frescura y la autenticidad de los ingredientes. Desde el tomate san Marzano hasta el aceite de oliva virgen extra, la comida italiana se basa en la calidad de los productos locales. La pasta fresca, las hierbas aromáticas y los quesos artesanales son el alma de muchas de sus recetas icónicas.</p>
    </div>
</section>
