<div class="background">
    <h1>GASTRONOMÍA JAPONESA</h1>
</div>
<section>
    <div class="description">
        <div>
            <h2>Cultura Colombiana</h2>
            <p>Sabores auténticos que deleitan tus sentidos y paladar</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium exercitationem explicabo facere necessitatibus sapiente quae voluptatem, aspernatur magni asperiores ullam neque culpa ex mollitia perspiciatis dolores atque cupiditate odit voluptate!</p>
    </div>
</section>