<div class="background">
    <h1>GASTRONOMÍA JAPONESA</h1>
</div>
<section>
    <div class="description">
        <div>
            <h2>Cultura Japonesa</h2>
            <p>Japón: Elegancia y precisión culinaria que conquistan el paladar global.</p>
        </div>
        <p>
            La comida japonesa es una verdadera obra maestra culinaria, conocida y admirada en todo el mundo por su excepcional elegancia, precisión y equilibrio de sabores. Su legado gastronómico es un tesoro que se ha desarrollado a lo largo de siglos, y su reputación se extiende mucho más allá de las fronteras de Japón.
            
            Lo que distingue a la gastronomía japonesa es su profundo enfoque en la calidad de los ingredientes. Desde el pescado fresco hasta el arroz de alta calidad, Japón se enorgullece de utilizar productos frescos y locales. Cada bocado es una experiencia que rinde homenaje a la naturaleza y la estación del año.</p>
    </div>
</section>