<div class="background">
    <h1>GASTRONOMÍA MEXICANA</h1>
</div>
<section>
    <div class="description">
        <div>
            <h2>Cultura Mexicana</h2>
            <p>México: Vibrante sabor que celebra una rica herencia ancestral.</p>
        </div>
        <p>La comida mexicana es una de las cocinas más vibrantes, sabrosas y reconocidas en todo el mundo, y su legado se enraíza profundamente en la historia de México. Esta rica herencia culinaria se remonta a civilizaciones antiguas como los aztecas y los mayas, quienes cultivaban una amplia variedad de ingredientes que siguen siendo fundamentales en la cocina mexicana actual.

            La gastronomía mexicana es una apasionante fusión de tradición, sabor y diversidad. La influencia indígena se manifiesta en ingredientes como el maíz, los chiles, los frijoles y el cacao, que eran pilares de la dieta ancestral y que todavía desempeñan un papel destacado en la cocina contemporánea.</p>
    </div>
</section>
