<div class="background">
    <h1>GASTRONOMÍA COLOMBIANA</h1>
</div>
<section>
    <div class="description">
        <div>
            <h2>Cultura Colombiana</h2>
            <p>Sabores auténticos que deleitan tus sentidos y paladar</p>
        </div>
        <p>La comida colombiana es una muestra fascinante de la diversidad geográfica y cultural de este hermoso país sudamericano. Desde las playas del Caribe hasta las montañas de los Andes y las llanuras de la región amazónica, Colombia ofrece una variedad de ingredientes frescos y únicos que enriquecen su cocina.

            Esta rica tradición culinaria se teje con influencias indígenas, africanas y europeas que han dejado una profunda huella en cada plato. Los sabores indígenas aportan ingredientes como el maíz, la yuca y los ajíes picantes, que dan vida a platos emblemáticos como la arepa y el sancocho. Las influencias africanas se manifiestan en la utilización de ingredientes como el plátano y el coco, que se fusionan en delicias como el arroz con coco y pescado.</p>
    </div>
</section>

<div class="section-cards">
    <div class="wrapp-card">
        <div class="card">
            <div>
                <img src="../../assets/paisa.png" alt="">
                <h1>Bandeja Paisa</h1>
            </div>
                <p>La Bandeja Paisa es un plato colombiano que representa la generosidad de la comida en la región de Antioquia. Esta abundante bandeja incluye arroz, carne molida, chicharrón (cerdo frito), chorizo, morcilla (salchicha de sangre), huevo frito, aguacate, plátano maduro y arepas. Todos estos elementos se sirven en un mismo plato, creando una combinación de sabores y texturas única. </p>
        </div>
        <div class="card">
            <div>
                <img src="../../assets/ajiaco.png" alt="">
                <h1>Ajiaco Bogotano</h1>
            </div>
                <p>El Ajiaco Bogotano es una sopa espesa y reconfortante que proviene de la región de Bogotá. Se caracteriza por su base de caldo de pollo, papas criollas, mazorcas de maíz tierno, yerbabuena y guascas, una hierba típica colombiana. Se sirve con crema de leche, alcaparras y aguacate, lo que le da un sabor único y delicioso. El Ajiaco es perfecto para disfrutar en un día frío y es una representación de la rica tradición culinaria colombiana.</p>
        </div>
    </div>
</div>
