<div class="background">
    <h1>GASTRONOMÍA COLOMBIANA</h1>
</div>
<section>
    <div class="description">
        <div>
            <h2>Cultura Colombiana</h2>
            <p>Sabores auténticos que deleitan tus sentidos y paladar</p>
        </div>
        <p>La comida colombiana es una muestra fascinante de la diversidad geográfica y cultural de este hermoso país sudamericano. Desde las playas del Caribe hasta las montañas de los Andes y las llanuras de la región amazónica, Colombia ofrece una variedad de ingredientes frescos y únicos que enriquecen su cocina.

            Esta rica tradición culinaria se teje con influencias indígenas, africanas y europeas que han dejado una profunda huella en cada plato. Los sabores indígenas aportan ingredientes como el maíz, la yuca y los ajíes picantes, que dan vida a platos emblemáticos como la arepa y el sancocho. Las influencias africanas se manifiestan en la utilización de ingredientes como el plátano y el coco, que se fusionan en delicias como el arroz con coco y pescado.</p>
    </div>
</section>

<div class="section-cards">
    <div class="wrapp-card">
        <div class="card">
            <h1>Recipe 1</h1>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt deserunt quos autem voluptate, corrupti a nobis ab sequi vero rerum, non magni animi laborum, ipsum dolorem aliquid voluptatibus velit. Libero.</p>
            </div>
        </div>
        <div class="card">
            <h1>Recipe 1</h1>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt deserunt quos autem voluptate, corrupti a nobis ab sequi vero rerum, non magni animi laborum, ipsum dolorem aliquid voluptatibus velit. Libero.</p>
            </div>
        </div>
    </div>
</div>
